######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Mac OSX
######################
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

######################
# Logs
######################
*.log
*.log.gz

######################
# Project Specific
######################
*build/
*out/
*classes/
deploy/data/


######################
# Others
######################
*.class
*.*~
*~
.merge_file*

